/* 
    Document   : kenStyle
    Created on : 8/09/2015, 11:15:03 PM
    Author     : Kenny Cornejo
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.input-medium{
    width: 50%;
}
.input-large{
    width: 75%;
}
.input-xlarge{
    width: 100%;
}
